
@media screen and (max-width: 700px) {
  .introduction {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  p {
    width: auto;
    transform: translateX(-10%);
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  font-size: 125%;
}
header {
  background-color: #F2F2F2;
  color: black;
  padding: 20px;
  text-align: center;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;      
}
nav ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  /* float: right; */
}
nav ul li a:hover {
  background-color: #555;
}
.logo {
  float: left;
}
.title {
  animation: 1s ease-out 0s 1 fade-top;
  background-color: #F2F2F2;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 65px;
}
.introduction {
  display: flex;
  flex-wrap: wrap;
}
.side {
  animation: 1s ease-out 0s 1 fade-left;
  flex: 45%;
  background-color: #F2F2F2;
  margin: auto;
  font-size: 1.3rem;
}
.introtext {
  margin: 1rem;
  padding: 1rem;
}
.introtext h2 {
  font-size: 50px;
  padding-left: 18.9%;
}
.main {
  animation: 1s ease-out 0s 1 fade-right;
  flex: 55%;
  background-color: #F2F2F2;
  padding: 10px;
  text-align: left;
}
.main img {
  width: 60%;
  height: auto;
  margin-left: 5rem;
}
.select-projects {
  background-color: #EBEBEB;
  padding: 25px;
  font-size: 1.4rem;
}
.select-projects ul li {
  list-style: none;
  display: inline-block;
}
.select-projects ul img {
  height: auto;
  max-height: 200px;
  padding-right: 50px;
}
.select-projects h2, ul, p {
  padding-left: 19%;
}
.process {
  padding: 25px;
  font-size: 1.4rem;
}
.process h2, ol {
  padding-left: 19%;  
}
.footer {    
  padding: 20px;  
  background-image: url(../images/footer.jpg);
  color: white;
}
.footer h3, h2 {
  padding-left: 5%;
}
.footer a {
  color: white;
}
.footer p {
  padding-left: 40%;
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}